@use '@styles/variables' as *;

html {
    height: 100%;
}

body, #root{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 1440px;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: $light-gray;
    transition: all 0.3s ease-in-out;
}

.body__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    flex: 1;
}

@media (min-width: 480px) {
    body, #root{
        flex-direction: row;
        background-color: $alabaster;
    }
    .body__container{
        flex-grow: 1;
        min-height: 100vh;
    }
}

