@use '@styles/variables' as *;

.page-button{
    all: unset;
    display: flex;
    padding: 0.75rem 1rem;
    font-family: $main-font;
    font-weight: 500;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 250ms;
}

.next{
    background-color: $marine-blue;
    color: $magnolia;
    margin-left: auto;

    &:hover{
        background-color: $purplish-blue
    }
}

.back{
    color: $cool-gray;
    margin-right: auto;

    &:hover{
        color: $marine-blue
    }
}

.confirm{
    background-color: $purplish-blue;
    color: $magnolia;
    margin-left: auto;

    &:hover{
        opacity: .8;
    }
}
