@use '@styles/variables' as *;

.page-button{
    all: unset;
    display: flex;
    padding: 0.75rem 1rem;
    font-family: $main-font;
    font-weight: 500;
    border-radius: 0.25rem;
    cursor: pointer;
}

.next{
    display: flex;
    background-color: $marine-blue;
    color: $magnolia;
    margin-left: auto;
}

.back{
    display: flex;
    color: $cool-gray;
    margin-right: auto;
}

.confirm{
    display: flex;
    background-color: $purplish-blue;
    color: $magnolia;
    margin-left: auto;
}
