@use '@styles/variables' as *;

@mixin buttonState($background, $border, $color){
    background-color: $background;
    border-color: $border;
    color: $color;
}

.navigate-button__container{
    all: unset;
    display: flex;
    align-items: center;
    padding: 1rem .5rem;
    border-radius: .5rem;
    gap: 1rem;

    .navigate-button{
        display: flex;
        width: 2rem;
        height: 2rem;
        align-items: center;
        justify-content: center;
        border-width: 1px;
        border-style: solid;
        border-radius: 20px;
        margin: 1rem 0;
        z-index: 1;
        color: $magnolia;
        font-family: $main-font;
        font-weight: 500;
        font-size: 16px;
        transition: 250ms;
    }

    .button-description{
        display: none;
        font-family: $main-font;
        letter-spacing: 1px;

        h4{
            color: $light-gray;
            font-size: 16px;
            font-weight: 400;
        }

        p{
            color: $magnolia;
            font-size: 18px;
            font-weight: 700;
        }
    }
    
    &.normal, &.active{
        transition: 250ms;
        cursor: pointer;
        
        &:hover {
            background-color: hsl(213, 96%, 18%, 0.2);
        }

        &:hover > .navigate-button  {
            @include buttonState($light-blue, $light-blue, $marine-blue);
        }
    }

    &.normal .navigate-button {
        @include buttonState(transparent, $light-gray, $magnolia);
    }
    
    &.active .navigate-button {
        @include buttonState($light-blue, $light-blue, $marine-blue);
    }
    
    &.disabled .navigate-button {
        cursor: auto;
        @include buttonState(transparent, $light-gray, $magnolia);
    }
}

@media (min-width: 480px){
    .navigate-button__container{
        justify-content: center;

        .navigate-button{
            margin: 0;
        }
    }
}

@media (min-width: 750px){
    .navigate-button__container{
        justify-content: flex-start;

        .button-description{
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }
}