@use '@styles/variables' as *;

.topbar__container{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    position: relative;

    &::before{
        content: '';
        display: flex;
        position: absolute;
        width: 100vw;
        aspect-ratio: 375 / 172;
        background-image: url('/assets/images/bg-sidebar-mobile.svg');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 0;
    }
}

@media (min-width: 480px) {
    .topbar__container{
        justify-content: flex-start;
        flex-direction: column;
        background-image: url('/assets/images/bg-sidebar-desktop.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: .5rem;
        aspect-ratio: 568 / 274;
        margin: 1rem;
        flex-grow: 1;
        min-width: 50px;
        max-width: 210px;
        padding: 3rem 1rem;
        gap: 1rem;

        &::before{
            display: none;
        }
    }
}
