@use '@styles/variables' as *;

.footer{
    all: unset;
    display: flex;
    justify-content: space-between;
    background-color: $alabaster;
    padding: 1rem;
    margin-top: auto;
    z-index: 1;
}

@media (min-width: 808px) {
    .footer{
        padding: 2rem 4rem;
    }
}