@use '@styles/variables' as *;

@mixin text-style($weight, $size, $color){
    font-family: $main-font;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

.page__container{
    display: flex;
    flex-direction: column;
    background-color: $alabaster;
    border-radius: .5rem;
    margin: 1rem 1rem 3rem;
    padding: 2rem 1.5rem;
    gap: 1.5rem;
    z-index: 1;

    header{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1{
            @include text-style(700, 24px, $marine-blue);
        }
    
        .subtitle{
            @include text-style(400, 16px, $cool-gray);
        }
    }
}

@media (min-width: 480px) {
    .page__container{
        padding: 2rem 0;
    }
}

@media (min-width: 850px) {
    .page__container{
        padding: 2rem 3rem;
    }
}